body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #0a0000;
}

h1 {
    text-align: center;
}

#filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

#filters select, #filters input {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    flex: 1 1 200px;
}

#filters button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    flex: 1 1 200px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    background-color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.card img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

 @media (max-width: 768px) {
    #filters {
        flex-direction: column;
        align-items: center;
    }

    #filters select, #filters input, #filters button {
        width: 100%;
        max-width: 300px;
    }
}

body {
    background-color: #f8f9fa;
}

.card {
    margin-bottom: 15px;
}  



.container {
    background-color: rgba(248, 245, 245, 0.7); /* Fondo semitransparente para el contenido*/
    padding: 20px; 
    border-radius: 10px;
 } 
body {
    background-image: url('images/fondoMuseo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #fff; /* Cambiar el color del texto para mejor visibilidad */
}

.row .mt-4{

    color: black;
}
.col-md-3{
    background-color: transparent;
}

.pagination-button {
    background-color: #010a14; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    margin: 5px; /* Espaciado externo */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de mano */
    transition: background-color 0.3s; /* Transición suave */
}

.pagination-button:hover {
    background-color: #d3d8de; /* Color de fondo al pasar el ratón */
}

.pagination-button.active {
    background-color: #28a745; /* Color de fondo para el botón activo */
}

.search-form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 600px; /* Ajusta el ancho máximo del formulario */
    margin: auto; /* Centra el formulario */
}

.search-form .form-control {
    flex: 1 1 100px; /* Ajusta el tamaño de los inputs */
    min-width: 100px; /* Ancho mínimo de los inputs */
    padding: 5px; /* Reduce el padding */
    font-size: 14px; /* Reduce el tamaño de la fuente */
}

.search-form .btn {
    padding: 5px 10px; /* Reduce el padding del botón */
    font-size: 14px; /* Reduce el tamaño de la fuente */
}
.card-img-top {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-img-top:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.card-body{
    background-color: rgba(0, 0, 0, 0.1); /* Fondo semitransparente para el contenido */
}


.img-thumbnail .col-md-3{
    background-color: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.img-thumbnail:hover .col-md-3:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#filterForm{
    width: 100%;
}

.btn .btn-primary{
    background-color: #000b03;
}
.labelForm{
    color:black;
}
.my-4{
    color: black;
}
.slideshow-container {
    display: none;
    position: relative;
    max-width: 100%;
    margin: auto;
}

.slideshow-container img {
    width: 100%;
    height: auto;
}

.slideshow-container .prev, .slideshow-container .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.slideshow-container .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slideshow-container .prev:hover, .slideshow-container .next:hover {
    background-color: rgba(0,0,0,0.8);
}
/* Estilos para reducir el tamaño del formulario */
.form-control-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.bg-black-transparent {
    background-color: rgba(0, 0, 0, 0.5); /* Negro con 50% de opacidad */
}
.img-thumbnail .col-md-3{
    background-color: rgba(0, 0, 0, 0.5); /* Negro con 50% de opacidad */
}

.resaltado {
    border: 2px solid #ff0000; /* Cambia el color y grosor del borde */
    background-color: #ffff99; /* Cambia el color de fondo */
}
